.required:before {
    content: "* ";
    color: red;
}

.seosuite-row.seosuite-solved {
    background: #d6efd6;
}

.text-label {
    display: block;
    color: #555555;
    padding: 5px 15px 0 0;
    font-weight: bold;
    font-style: italic;
}
.text-label.first {
    padding-top: 15px;
}
.text-label.text-normal {
    font-weight: normal;
    font-style: normal;
}

#exclude_words_wrapper {
    margin: 0;
    padding-bottom: 0;
}
#exclude_words_wrapper input.x-form-text {
    margin: 0;
}